header {
  background-color: rgb(127, 255, 212);
}

.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

div .title {
  line-height: 2rem;
}

span {
  display: inline-block;
  margin-left: 1rem;
  padding: 0 1rem;
  color: white;
}

.in_progress {
  background-color: rgb(230, 126, 58);
}

.backlog {
  background-color: rgb(170, 45, 23);
}

.completed {
  background-color: rgb(20, 150, 52);
}
